#slider {
    width: 410px;
    margin: 0 auto;
    position: relative;
background: #fff;
-moz-box-shadow: 0px 1px 8px #dde;
-webkit-box-shadow: 0px 1px 8px #dde;
}

.scroll {
    height: 300px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    clear: left;
}

.scrollContainer div.panel {
    padding: 30px;
    height: 250px;
    width: 350px;
}


.scrollButtons {
    position: absolute;
    top: 60px;
    cursor: pointer;
    z-index: 9999;
}

.scrollButtons.left {
    left: -20px;
}

.scrollButtons.right {
    right: -20px;
}

.hide {
    display: none;
}