*{margin:0;padding:0;}
a{text-decoration: none; outline: none;}
h1,h2,h3{font-weight: normal;}
p{margin-bottom: 15px;}
ul{list-style: none;}

a.anchor, a[name]{
margin-top: -100px;
padding-top: 100px;
width: 1px;
display: block;
}

body{
background: #fcfcfa url(../images/bg-page.jpg) repeat-x top left;
font-family: "Lucida Sans", "Lucida Grande", Lucida, Tahoma, sans-serif;
font-size: 14px;
color: #3a3815;
position: relative;
height: 100%;
}

#outerwrapper{
background: transparent url(../images/bg-headband.jpg) no-repeat 50% 40%;
width: 100%;
float: left;
position: relative;
height: 200px;
}

html>body #outerwrapper{top:73px;}

h2{
color: #2d302d;
font-size: 23px;
letter-spacing: -1px;
}

h3{
color: #436e48;
font-size: 19px;
letter-spacing: -0.7px;
margin-bottom: 10px;
}

#wrapper{
width:960px;
margin: 0 auto;
position: relative;
padding-bottom: 50px;
overflow: hidden;
position: relative;
}

#menubar{
height: 45px;
padding: 18px 0 10px;
position: fixed;
top: 0;
left: 0;
overflow: hidden;
background: #000;
width: 100%;
z-index: 999;
-webkit-box-shadow: 1px 1px 5px #111;
-moz-box-shadow: 1px 1px 5px #111;
filter: alpha(opacity=90);filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);-moz-opacity: .9;opacity:0.9;
}

#menuwrap{
width: 960px;
margin: 0 auto;
}

#menubar a.logo{
width: 181px;
height: 26px;
text-indent: -999em;
background: transparent url(../images/lgo-hypertable.jpg) no-repeat;
overflow: hidden;
position: relative;
display: block;
float: left;
margin-top: 10px;
z-index: 9999;
border: 1px solid #000;
zoom: 1;
}

#menubar ul#nav{
float: right;
padding: 10px 15px;
border: 1px solid #434343;
text-align: center;
list-style: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

#menubar ul#nav li{
display: inline;
margin: 0 10px;
}

#menubar ul#nav li a{
color: #e1e0d1;
}

#menubar ul#nav li a:hover{
color: #fff;
}

#headband{
height: 150px;
position: relative;
padding-top: 50px;
z-index: 2;
overflow: hidden;
}

/*
span.bg{
display: block;
width: 1050px;
height: 356px;
position: absolute;
top: 73px;
width: 100%;
z-index: 1;
background: transparent url(../images/bg-headband.jpg) no-repeat center;
}
*/

#headband h1{
color: #e6e5d9;
font-size: 23px;
margin: 0 0 30px;
width: 480px;
text-shadow: 1px 1px 2px #222;
}

#headband h1 strong{
display: block;
font-size: 52px;
letter-spacing: -3px;
font-weight: normal;
color: #f6f5f1;
margin: 3px 0;
}

#headband h2{
color: #f3f3ed;
font-weight: bold;
display: block;
font-size: 14px;
text-shadow: 1px 1px 2px #222;
letter-spacing: normal;
}

#headband p{
color: #f3f3ed;
font-size: 12.5px;
line-height: 24px;
width: 480px;
margin-top: 6px;
text-shadow: 1px 1px 2px #222;
}


#quotes{
height: 125px;
overflow: hidden;
}

#quotes div{
height: 95px;
padding: 15px 0;
}

#quotes blockquote{
display: block;
font-size: 14px;
font-style: italic;
line-height: 18px;
color: #fff;
width:420px;
padding-left: 25px;
padding-top: 15px;
background: transparent url(../images/bg-quote.jpg) no-repeat top left;
}

#quotes p.author{
display: block;
color: #aeadad;
font-size: 10px;
text-transform: uppercase;
}

#quotes .slide1 p.author{
background: transparent url(../images/lgo-baidu.jpg) no-repeat top right;
width: 270px;
margin-left: 200px;
height: 44px;
margin-top: -8px;
}

#quotes .slide2 p.author{
background: transparent url(../images/lgo-endgame.jpg) no-repeat top right;
width: 270px;
margin-left: 220px;
line-height: 42px;
height: 45px;
}

#quotes .slide3 .author{
background: transparent url(../images/lgo-rediff.jpg) no-repeat top right;
width: 270px;
margin-top: 10px;
text-align: right;
margin-left: 100px;
padding-right: 110px;
}



#servicebox{
width: 430px;
background: #f6f5f1;
position: relative;
float: right;
top: -130px;
right: 5px;
z-index: 3;
border: 5px solid #f6f5f1;
-moz-box-shadow: 0px 1px 8px #666;
-webkit-box-shadow: 0px 1px 8px #666;
}

#servicebox h2{
margin: 30px 0 0 30px;
}

#servicebox p{
margin: 12px 0 0;
}

#servicebox ul{
margin-top: 20px;
}

#servicebox ul li{
font-size: 12px;
line-height: 22px;
padding: 25px 122px 40px 30px;
}

#servicebox ul li span{
padding: 2px 3px;
background: #e2d3bb;
color: #3a3815;
cursor: help;
}

#servicebox ul li span:hover{
color: #000;
}

#servicebox li.ps{background: transparent url(../images/lgo-ps.jpg) no-repeat 330px 15px;}
#servicebox li.es{background: transparent url(../images/lgo-es.jpg) no-repeat 330px 15px;}
#servicebox li.ss{background: transparent url(../images/lgo-ss.jpg) no-repeat 330px 15px;}

#servicebox li.ec{
background: #d7d6c4;
}

#whychoose{
width: 480px;
margin-top: 60px;
}

#whychoose h3{
margin: 20px 0;
}

#whychoose ul{
margin-bottom: 40px;
padding-top: 70px;
margin-top: -70px;
}

#whychoose ul.top{background: transparent url(../images/gra-database.jpg) no-repeat top right}
#whychoose ul.bottom{background: transparent url(../images/gra-services.jpg) no-repeat top right}

#whychoose ul li{
padding-left: 13px;
line-height: 22px;
margin-bottom: 22px;
background: transparent url(../images/bul-arw.gif) no-repeat 0 7px;
}

#whouses{
margin-top: 50px;
width:440px;
float: right;
clear: both;
position: relative;
left: -5px;
}

#whouses h2{
margin-bottom: 20px;
}

#whouses p{
line-height: 22px;
font-size: 12px;
}

#contact{
width: 450px;
float: left;
margin-top: 20px;
}

#contact h2{
margin-bottom: 20px;
}

#contact form{
background: #d7d6c4;
padding: 20px;
text-align: right;
}

#contact form input.field{
padding: 7px 10px;
border: 1px solid #fff;
background: #eed;
margin-bottom: 8px;
width: 285px;
margin-left: 15px;
font-size: 14px;
}

#contact form textarea{
padding: 7px 10px;
border: 1px solid #fff;
background: #eed;
width: 285px;
font-family: "Lucida Sans", "Lucida Grande", Lucida, Tahoma, sans-serif;
font-size: 14px;
height: 60px;
margin-bottom: 20px;
margin-left: 15px;
display: inline;
vertical-align: top;
}

#contact form input.btn{
padding: 5px 10px;
display: block;
border: 1px solid #fff;
background: #565;
font-size: 16px;
color: #fff;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
float: right;
}

#contact form input.btn:hover{
background: #fff;
color: #436e48;
-moz-box-shadow: 0px 1px 15px #aaa;
-webkit-box-shadow: 0px 1px 15px #aaa;
}

#contact form input.reset{
background: #bba;
padding: 3px 7px;
float: none;
font-size: 14px;
margin-top: 3px;
margin-left: 100px;
}

#footer{
width: 100%;
background: #d7d6c4;
clear: both;
}

#footwrap{
width: 960px;
margin: 0 auto;
padding: 30px 0 50px;
}

#footer ul#footnav{
float: left;
padding: 10px 15px;
text-align: center;
list-style: none;
border: 1px solid #886;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

#footer ul#footnav li{
display: inline;
margin: 10px;
}

#footer ul#footnav li a{
color: #3a3815;
}

#footer ul#footnav li a:hover{
color: #000;
}

#footer a#download{
width: 191px;
height: 42px;
display: block;
overflow: hidden;
float: right;
background: transparent url(../images/btn-download.jpg) no-repeat top center;
text-indent: -9999em;
}

#footer p{
clear: both;
width: 100%;
text-align: center;
margin:0;
padding-top: 40px;
font-size: 12px;
color: #886;
}

#footer a{
color: #664;
}

#footer a:hover{
color: #331;
}

/* tooltip styling */ 
.tooltip { 
display:none; 
background:url(../images/black_arrow_big-trans.png); 
height:168px; 
width:310px; 
color:#fff; 
padding:30px 30px 10px 30px; 
} 

#servicebox h4{
font-size: 17px;
font-weight: normal;
padding-bottom: 10px;
}
#servicebox ul.tip{
margin: 0;
padding: 0;
}
#servicebox  ul.tip li{
line-height: 14px;
margin: 0;
color: #edb;
font-size: 11px;
padding: 0 0 8px 0;
}
/* performance page */

#performance{
	width:861px;
	margin:104px auto 0 auto;
	*margin:90px auto 0 auto;
	background:url(../images/bg-content.png);
	_background:url(../images/bg-content.gif);
	color: #444;
	line-height: 21px;
	padding:50px;
	border-bottom:5px solid #e3e2de;
	_border-bottom:0;
}
#performance p{ margin-top:20px; }
#performance p.image img{border:3px solid #e4e2d5;}
#performance a{color: #436e48;}
#performance a:hover{color: #333;}
#performance h3{ margin-top:30px; }
#performance table thead th{
	background:#e1dfd2;
	text-align:left;
	padding:3px 7px;
}
#performance table tbody th{ 
	color:#436e48; 
	font-weight:100; 
	text-align:left;
	
}
#performance table tbody td,#performance table tbody th{
	background:#e6e6e6;
	font-size:12px;
	padding:3px 7px;
	vertical-align:top;
}

/* download page */

#download{
	width:861px;
	margin:104px auto 0 auto;
	*margin:90px auto 0 auto;
	background:url(../images/bg-content.png);
	_background:url(../images/bg-content.gif);
	color: #444;
	line-height: 21px;
	padding:50px;
	border-bottom:5px solid #e3e2de;
	_border-bottom:0;
}
#download p{ margin-top:20px; }
#download a{color: #436e48;}
#download a:hover{color: #333;}
#download p.image img{border:3px solid #e4e2d5;}
#download h3{ margin-top:30px; }
#download table thead th{
	background:#e1dfd2;
	text-align:left;
	padding:3px 7px;
}
#download table tbody th{ 
	color:#436e48; 
	font-weight:100; 
	text-align:left;
	
}
#download table tbody td,#download table tbody th{
	background:#e6e6e6;
	font-size:12px;
	padding:3px 7px;
	vertical-align:top;
}
